body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.slider { 
  position: absolute;

  overflow: hidden;

  border-radius: 40px;
  border-style: solid;
  border-color: black;

  z-index: 10000;
}

.left-slider { 
  position: absolute;
  
  left: -435px;
  
  height: 50px;
  width: 500px;

  transition: left 1s;

  display: grid;
  grid-template-columns: 1fr 400px 67px ;
}

.time-slider {
  top: 15%;

  background-color: grey;
}

.data-slider {
  top: 25%;

  background-color: grey;
}

.slider-open {
  left: -25px;
  transition: left 1s;
}

.slider-filter-container {

  grid-column: 2;

  height: 50px;
  width: 400px;
  right: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.slider-open-button-container {

  grid-column: 3;

  height: 100%;

  border-style: solid;
  border-color: black;
  border-width: 0 0 0 2px ;
}

.time-open-container {
  background-color: #d9534f;
}

.data-open-container {
  background-color: teal;
}

.slider-open-button {
  height: 80%;
  position: absolute;
  right: 15px;
  top: 5px;
}

.filter-button {
  height: 40px;
}

.utilization-status {
    font-weight: bold;
    font-size: 1.4em;
    color: #d9534f;
}

#first-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 128, 0.9); /* Navy color with transparency */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-size: 24px;
  text-align: center;
  z-index: 10000;
  transition: transform 0.5s ease-in-out; /* Enables smooth sliding animation */
}

#first-screen h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

#first-screen p {
  font-size: 1.5rem;
  color: white;
}

/* When Enter is pressed, move the screen up out of view */
.slide-up {
  transform: translateY(-100vh);
}

.graph-slider {
  border-radius: 20px;

  height: 380px;
  left: 0;
  bottom: -350px; /* Keep magnitude 30 less than height. 30 references the height of the first grid row. */

  display: grid;
  grid-template-rows: 30px 260px 1fr ;

  transition: bottom 1s;

  background-color: lightgrey;
}

.graph-container {
  grid-row: 2;

  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.graph-slider-open-button-container {

  grid-row: 1;

  height: 100%;

  background-color: grey;
}

.graph-slider-open-button {

  height: 100%;
  width: 100%;

  background-color: grey;

  text-align: center;
  line-height: 20px;

  border-style: solid;
  border-color: black;
  border-width: 0 0 2px 0 ;
}

.graph-slider-up {
  bottom: -80px;

  transition: bottom 1s;
}